/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h4 {
    text-align: center;
    color: #333;
}



.row {
    display: flex;
    justify-content: center;
}

.edit {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width:800px;  /* Adjust the width as needed */
    margin-left:10px;
    margin-right:50%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

    input[type="submit"] {
        width: 100%;
        padding: 12px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 4px;
    }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

.text-danger {
    color: #dc3545;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
