.homePage {
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
    padding: 0 30px; /* 30px left/right */
}

.page-header {
    position: relative;
    text-align: center;
}

    .page-header img {
        width: 100%;
        height: auto;
    }

.line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: #007bff;
}

.latest-offers {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .job-card h2 {
        margin-bottom: 10px;
        font-size: 20px;
        color: #007bff;
    }

    .job-card p {
        color: #555;
    }

.location {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.location-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.details-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .details-button:hover {
        background-color: #0056b3;
    }

/* Navbar Styling */
.navbar {
    background-color: #fff;
}

.navbar-brand {
    color: #007bff;
    font-weight: bold;
}

.navbar-toggler-icon {
    background-color: #007bff;
}

.navbar-nav .nav-link {
    color: #343a40;
    font-weight: bold;
}

    .navbar-nav .nav-link:hover {
        color: #007bff;
    }

.dropdown-item {
    color: #007bff;
}

    .dropdown-item:hover {
        background-color: #007bff;
        color: #fff;
    }
/* mycondida.css */

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.more-details-btn {
    display: block;
    margin-top: 10px;
}
