@model App.Models.Offre

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <style>

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }




        header {
            background-color: #337ab7;
            color: #fff;
            padding: 8px;
            text-align: center;
        }

        .header h1 {
            font-size: 50px;
            margin: 0;
            background-color: #fff; /* Background behind the "Dashboard" title */
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }

        .header button {
            color: red;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 5px;
        }

            .header button:hover {
                background-color: grey;
            }

        .btn {
            background-color: #337ab7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 5px;
        }

            .btn:hover {
                background-color: #3369b4;
            }
    </style>


</head>
<body>


    <header>
        <h1>Dashboard</h1>
        <form asp-action="Logout">
            <button class="btn" type="submit">Logout</button>
        </form>
    </header>

    <h4>Offre</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

           

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salaire" class="control-label"></label>
                <input asp-for="Salaire" class="form-control" />
                <span asp-validation-for="Salaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competance" class="control-label"></label>
                <input asp-for="Competance" class="form-control" />
                <span asp-validation-for="Competance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsabilite" class="control-label"></label>
                <input asp-for="Responsabilite" class="form-control" />
                <span asp-validation-for="Responsabilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remuneration" class="control-label"></label>
                <input asp-for="Remuneration" class="form-control" />
                <span asp-validation-for="Remuneration" class="text-danger"></span>
            </div>
         @*  <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
